<tr>
  <td><%= genero.name %></td>
  <td><%= link_to 'Editar', edit_genero_path(genero), class: 'btn btn-secondary' %></td>
  <td><%= link_to 'Eliminar', genero_path(genero), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro de que deseas eliminar este Genero?' }, class: 'btn btn-danger' %></td>
</tr>
