<div id="<%= dom_id genero %>">
  <%= genero.name %>
  <%= link_to "Editar", edit_genero_path(genero) %>
  <%= link_to "Borrar", genero_path(genero), data: {
    turbo_method: :delete,
    turbo_confirm: "Estas seguro de eliminar"
  } %>
</div>
