<div class="container">
  <div class="row">
    <div class="col-sm-4 caja-login" >
      <h1>Editing genero</h1>
      <%= render "form", genero: @genero %>
      <br>
      <div>
        <%= link_to "Back to generos", generos_path %>
      </div>
    </div>
  </div>
</div>