<main class="main">
  <p style="color: green"><%= notice %></p>
  <h1>Generos</h1>
  <%= link_to 'Nuevo Genero', new_genero_path, class: 'btn btn-primary' %>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "genero", collection: @generos %>
    </tbody>
  </table>
</main>