<!-- 1ERA OPCION DE LINKS EN MENU NAV DESPLEGABLE --->
<!--
<%= link_to link, data: { turbo_frame: "generos" } do %>
  <li class="<%=classesTwo%>">
    <span class="<%=classes%>"><%=title%></span>
  </li>
<% end %>
-->
<!-- 2DA OPCION: SELECTS OPTIONS EN INDEX --->
<li class="option">
  <span class="option-text">Instagram</span>
</li>