<main class="main">
  <h1>Editar Plataforma</h1>
  <%= render 'form', plataforma_pelicula: @plataforma_pelicula %>
  <%= link_to 'Volver', plataforma_peliculas_path, class: 'btn btn-secondary' %>
</main>