<%= link_to peliculas_path do %>
  <h1>Catalogo de Peliculas</h1>
<%end%>
<div>
  <%= button_to new_pelicula_path, remote: true, method: :get, class: "btn btn-info", data: { turbo_frame: "modal-peliculas" }, onclick: "openedModalPeliculas()" do %>
    <span class="fas fa-plus-square"></span>
  <% end %>
</div>
<div>
  <%= link_to "Añadir Generos", new_genero_path %>
</div>