<button type="button" class="btn btn-primary d-none" id="btn_opened_modal_peliculas" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-info">
        <h1 class="modal-title fs-5 f-bold" id="modal_title"></h1>
        <button type="button" class="btn-close bg-info" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody" style="">
        <%= turbo_frame_tag "modal-peliculas"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_closed_modal_peliculas" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
  function openedModalPeliculas() {
    $("#btn_opened_modal_peliculas").click();
  }
  function closedModalPeliculas() {
    $("#btn_closed_modal_peliculas").click();
  }
</script>