<div class="col-sm-3">
  <article class="card__article swiper-slide">
    <%= link_to pelicula_path(pelicula), remote: true, method: :get, data: {turbo_frame: "modal-peliculas"}, class:"card__link", onclick: "openedModalPeliculas()"  do %>
      <%= image_tag pelicula.poster.attached? ? pelicula.poster : 'placeholder.jpg', class: "card__img", alt: pelicula.name %>
      <div class="card__shadow"></div>
      <div class="card__data">
        <h3 class="card__name"><%= pelicula.name %></h3>
        <span class="card__category">Action</span>
      </div>
      <!--<i class="ri-heart-3-line card__like"></i>-->
    <%end%>
  </article>
</div>