<div class="col-sm-6 col-md-4 col-lg-2">
  <%= link_to pelicula_path(pelicula), remote: true, method: :get, data: {turbo_frame: "modal-peliculas"}, onclick: "openedModalPeliculas()"  do %>
    <div class="content">
      <%= image_tag pelicula.poster.attached? ? pelicula.poster : 'placeholder.jpg', alt: pelicula.name %>
      <h3><%= pelicula.name %></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
      </p>
    </div>
  <%end%>
</div>