<div class="col-lg-4 col-xl-3 col-xxl-2 mt-4">
  <article class="card__article swiper-slide">
    <%= link_to pelicula_path(pelicula), remote: true, method: :get, data: {turbo_frame: "modal-peliculas"}, class:"card__link h-100", onclick: "openedModalPeliculas()"  do %>
      <%= image_tag pelicula.poster.attached? ? pelicula.poster : 'placeholder.jpg', class: "card__img h-100", alt: pelicula.name %>
      <div class="card__shadow"></div>
      <div class="card__data">
        <span class="card__name"><%= truncated_name(pelicula.name, 30, ' ...') %> (<%= pelicula.date_estreno.year %>)</span>
      </div>
      <span class="card__ranking transparent-background ">9.5 <i class="ri-star-fill text-warning"></i></span>
    <%end%>
  </article>
</div>
