<main class="main">
  <!--==================== MOVIES ====================-->
  <%= turbo_frame_tag "generos" do %>
    <section class="movie">
      <h3 class="card__title">Movies</h3>
      <div class="movie__swiper swiper">
        <div class="row swiper-wrapper">
          <%= render partial: "pelicula", collection: @peliculas %>
        </div>
      </div>
      <% Time.current.strftime("%d/%m/%Y %H:%M") %>
    </section>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  <% end %>
</main>
<%= render partial: "modal-peliculas"%>