.appointment {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.collapse {
  visibility: visible;
}
.accordion-body {
  color: black !important;
}
